<ion-header>
  <ion-toolbar color="primary">
    <ion-title>apicore</ion-title>
    <ion-buttons slot="start">
     <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" color="success" routerLink="/banners">Banners</ion-button>
  <ion-button expand="block" color="tertiary" routerLink="/menus">Menu</ion-button>
  <ion-button expand="block" color="danger" routerLink="/tabs">Tabs</ion-button>
  <ion-button expand="block" color="warning" routerLink="/slides">Slides</ion-button>
</ion-content>
