<ion-content>
  <div class="contenedor">
    <div class="login-box">
      <img src="../../../assets/img/logo.png" class="avatar" alt="iRoute Template">
      <h1>Pharma 24/7</h1>
      <h3 class="ion-text-center">No Encuentras tu contraseña?</h3>
      <p class="ion-text-center">No te preocupes, nos sucede a todos, ingresa tu Email y te ayudaremos.</p>
      <ion-input placeholder="Email" type="email"></ion-input>
      <ion-button expand="full" shape="round" color="success">Solicitar</ion-button>
    </div>
  </div>
</ion-content>
