<ion-content>
  <div class="contenedor">
    <div class="login-box">
      <img src="../../../assets/img/logo.png" class="avatar" alt="iRoute Template">
      <h1>Pharma 24/7</h1>
      <ion-label class="etiqueta">Usuario</ion-label>
      <ion-input placeholder="Su usuario"></ion-input>
      <ion-label class="etiqueta">Clave</ion-label>
      <ion-input type="password"></ion-input>
      <ion-button expand="full" shape="round" color="success">Login</ion-button>
      <div class="ion-text-center"><a href="#">Olvidaste la Clave?</a></div>
    </div>
  </div>
</ion-content>