<ion-header>
  <ion-toolbar>
    <ion-title>
      Menu de Opciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" color="primary" routerLink="/movies">Peliculas</ion-button>
  <ion-button expand="block" color="secondary" routerLink="/fotografia">Camara</ion-button>
  <ion-button expand="block" color="tertiary" routerLink="/mapas">Mapas</ion-button>
  <ion-button expand="block" color="success" routerLink="/llamadas">Llamadas</ion-button>
  <ion-button expand="block" color="warning" routerLink="/parametros">Parametros</ion-button>
  <ion-button expand="block" color="danger" routerLink="/login">Login</ion-button>
  <ion-button expand="block" color="tertiary" routerLink="/slides">Slides</ion-button>
  <ion-button expand="block" color="primary" routerLink="/calendario">Calendario</ion-button>
  <ion-button expand="block" color="success" routerLink="/contactos">Contactos</ion-button>
  <ion-button expand="block" color="warning" routerLink="/archivos">Archivo</ion-button>
  <ion-button expand="block" color="success" routerLink="/estadoconexion">Conexion</ion-button>
  <ion-button expand="block" color="tertiary" routerLink="/apicore">Api Core</ion-button>
  
</ion-content>
